@charset "UTF-8";
/*configs globais*/
.projetosContainer {
    border-top: 1px solid color-mix(in oklab,var(--CorDestaque)75%,transparent);
    padding-bottom: 60px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.projetosContainer h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 500;
    font-family: var(--fonte1);
    font-style: italic;
    border-bottom: 0.5px solid var(--CorDestaque);
}
.projetosContainer section {
    display: flex;
    width: 97%;
    min-height: 400px;
    flex-flow: column-reverse nowrap;
    align-items: stretch;
    gap: 0px;
}

.celularMockup {
    position: relative;
    width: 50vw;
    max-width: 400px;
    min-width: 250px;
}
.pcMockup {
    position: relative;
    width: 50vw;
    max-width: 700px;
    min-width: 450px;
}
.mockupSvg {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 2;
    
}
.print {
  position: absolute;
  width: 37%; 
  height: 82%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;   
  object-position: top;
  border-radius: 10px; 
  z-index: 2;
  
}
.printPc {
  position: absolute;
  width: 73%; 
  height: 59%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;   
  object-position: top;
  border-radius: 7px 7px 1px 1px ; 
  z-index: 2;
  overflow: hidden;
}
 .projetoImagem {
    width: 100%;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0px 0px 10px 10px;
}
 .projetoDescricao {
    flex: 1;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px 10px 0px 0px;
    border: none;
}
 .projetoDescricao h1 {
    font-family: var(--fonte1);
    padding-top: 10px;
    font-size: 2.4em;
    font-weight: 600;
    font-style: normal;
    border: none;
}
 .projetoDescricao p {
    font-family: var(--fonte0);
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
 .projetoDescricao button {
    margin-top: 20px;
    width: 50%;
    height: auto;
    min-height: 50px;
    margin-bottom: 25px;
    
    font-size: 1.2em;
    text-align: center;
}

/*configs projeto sonhario*/
.sonhario .projetoImagem {
    background-color: #D7E4F6;
    box-shadow: 2px 4px 4px -1px #8291A5;
}
.sonhario .projetoDescricao {
    background-color: #8291A5;
    color: var(--CorFundo);
}
.sonhario .projetoDescricao h1 {
    text-shadow: 0.6px 0.6px 0px #D7E4F6;
    border: none;
}
.sonhario .projetoDescricao p {
    color: var(--CorFundo);
}
.sonhario .projetoDescricao button {
    background-color: var(--CorFundo);
    color: var(--CorDestaque);
    border: 3px solid black;
}

/*configs projeto tavern talk*/
.tavernTalk .projetoImagem {
    background:  linear-gradient(#8B8B8B,#E2E1E1,#8B8B8B);
    box-shadow: 2px 4px 5px -1px #8291a5b1;
}
.tavernTalk .projetoDescricao {
    background: linear-gradient(#4B1515, 45%, #17080800);
}
.tavernTalk .projetoDescricao h1 {
    background: linear-gradient(#8B8B8B,#E2E1E1,#8B8B8B);
    background-clip: text;
    color: transparent;
}
.tavernTalk .projetoDescricao p {
    background: linear-gradient(#8B8B8B,#E2E1E1,#8B8B8B);
    background-clip: text;
    color: transparent;
}
.tavernTalk .projetoDescricao button {
    background:  linear-gradient(#8B8B8B,#E2E1E1,#8B8B8B);
    color: #600000;
}

/*configs projeto gap*/
.gap .projetoImagem {
    background:  linear-gradient(#005CA9,#2794CD);
    /* box-shadow: 2px 4px 5px -1px #8291a5b1; */
    box-shadow: 2px 4px 4px -1px #8291A5;
}
.gap .projetoDescricao {
    background: linear-gradient(#F4F4F4, 45%, var(--CorLetra));
}
.gap .projetoDescricao h1 {
    background: linear-gradient(to right, #005CA9, 70%,#2794CD);
    background-clip: text;
    color: transparent;
}
.gap .projetoDescricao p {
    color: #005CA9;
}
.gap .projetoDescricao button {
    background:  linear-gradient(#005CA9,#2794CD);
    color: var(--CorLetra);
}





/*desktop configs*/

@media screen and (min-width: 768px) {

.projetosContainer {
    gap: 0px;
}
.projetosContainer h1 {
    margin-bottom: 40px;
}
.projetosContainer section {
    width: 100%;
    height: auto;
    flex-flow: row nowrap;
    border-radius: 0;
}
.projetoImagem {
    width: 50vw;
    border-radius: 0px;
    box-shadow: none;
}

.projetoDescricao {
    width: 50vw;
    border-radius: 0px;
    margin: 0;
}
.projetoDescricao h1 {
    font-size: 3.5em;
    font-weight: 500;
}
.projetoDescricao p {
    font-size: 1.8em;
    font-weight: normal;
    padding-left: 15px;
}
 .projetoDescricao button {
    margin-top: 40px;
    background-color: transparent;
    width: 200px;
    height: 70px;
    font-size: 1.5em;
}


/*configs sonhario desktop*/
.sonhario .projetoImagem{
    box-shadow: none;
}
.sonhario .projetoDescricao button {
    background-color: transparent;
    color: var(--CorFundo);
}
.sonhario .projetoDescricao button:hover {
    background-color: var(--CorFundo);
    color: var(--CorDestaque);
    transition: background-color 0.5s, color 0.5s;
}
/*configs tavernTalk desktop*/
.tavernTalk .projetoImagem {
    box-shadow: none;
}
.tavernTalk .projetoDescricao button {
    position: relative;
    z-index: 1;
    background: transparent;
    color: #E2E1E1;
    transition: color 0.5s ease;
}

.tavernTalk .projetoDescricao button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:  linear-gradient(#8B8B8B,#E2E1E1,#8B8B8B);

    opacity: 0;
    z-index: -1;

    transition: opacity 0.5s ease;
}
.tavernTalk .projetoDescricao button:hover::before{
    opacity: 1;
}
.tavernTalk .projetoDescricao button:hover {
    color: #600000;
}
/*configs gap desktop*/
.gap .projetoImagem {
    box-shadow: none;
}
.gap .projetoDescricao button {
    position: relative;
    z-index: 1;
    background: transparent;
    color: #005CA9;
    transition: color 0.5s ease;
}
.gap .projetoDescricao button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:  linear-gradient(#005CA9,#2794CD);

    opacity: 0;
    z-index: -1;

    transition: opacity 0.5s ease;
}
.gap .projetoDescricao button:hover::before {
    opacity: 1;
}
.gap .projetoDescricao button:hover {
    color: var(--CorLetra);  
}

}