@charset "UTF-8";
/*configs globais*/
.projetosContainer {
    border-top: 1px solid var(--CorDestaque);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.projetosContainer h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    font-family: var(--fonte1);
    border-bottom: 1px solid var(--CorDestaque);
}
.projetosContainer section {
    display: flex;
    width: 97%;
    min-height: 400px;
    flex-flow: column-reverse nowrap;
    align-items: stretch;
    gap: 0px;
}

.celularMockup {
    position: relative;
    width: 50vw;
    max-width: 400px;
    min-width: 250px;
}
.pcMockup {
    position: relative;
    width: 50vw;
    max-width: 700px;
    min-width: 450px;
}
.mockupSvg {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 2;
    
}
.print {
  position: absolute;
  width: 37%; 
  height: 82%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;   
  object-position: top;
  border-radius: 10px; 
  z-index: 2;
  
}
.printPc {
  position: absolute;
  width: 73%; 
  height: 59%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;   
  object-position: top;
  border-radius: 7px 7px 1px 1px ; 
  z-index: 2;
  overflow: hidden;
}
 .projetoImagem {
    width: 100%;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0px 0px 10px 10px;
}
 .projetoDescricao {
    flex: 1;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px 10px 0px 0px;
    border: none;
}
 .projetoDescricao h1 {
    font-family: var(--fonte1);
    padding-top: 10px;
    font-size: 2.4em;
    font-weight: 600;
    border: none;
}
 .projetoDescricao p {
    font-family: var(--fonte0);
    font-size: 1.2em;
    font-weight: 500;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}
 .projetoDescricao button {
    margin-top: 20px;
    width: 50%;
    height: auto;
    min-height: 50px;
    margin-bottom: 25px;
    
    font-size: 1.2em;
    text-align: center;
}
/*configs modal de detalhes*/
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1000;
}
.modalConteudo {
    /* background-color: #8291A5; */
    background-color: var(--CorFundo);
    padding: 30px 30px 60px 30px;
    color: var(--CorLetra);
    padding: 40px;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    max-width: 100vw;
    max-height: 80vh;
    position: relative;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    animation: aparecerModal 0.5s ease-out;
    max-height: 85vh; /* Garante que o modal nunca seja maior que a tela */
    overflow-y: auto; /* Cria um scroll interno APENAS no modal se necessário */
    
    /* Dica: Deixe o scroll mais bonito */
    scrollbar-width: thin;
    scrollbar-color: var(--CorDestaque) transparent;
}
.bannerModal {
    width: 80vw;
    background: url('./LogosProjetos/sonhario/sonhario_logo.png');
}
.alçaModal {
    width: 50px;
    height: 7px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    margin: -20px auto 20px auto; 
    /* Prepara a suavidade da animação */
    transition: transform 0.2s ease, background-color 0.2s ease;
    cursor: grab; 
    /* controle da posição da cor de fundo */
    background-clip: padding-box;
    /*evita que o usuario seleciona o conteudo ao clicar e arrastar a alça*/
    user-select: none;
    -webkit-user-select: none;
    /*evita o scroll do site em dispositivos móveis ao arrastar o modal*/
    touch-action: none; 

}
.alçaModal::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px; 
    height: 100px;
    background-color: transparent; 
}
/* Efeito ao clicar/segurar (Puxar) */
.alçaModal:active {
    transform: scaleX(1.5) translateY(3px);
    background-color: rgba(255, 255, 255, 0.6); 
    cursor: grabbing; 
}
/* Botão de fechar (X) */
.fecharModal {
     position: absolute;
    top: 15px;
    right: 22px;
    cursor: pointer;
    background-color: var(--CorFundo);
    color: var(--CorFundo2);
    border: 1px double var(--CorLetra);
    border-radius: 15px;
}
/* Animação para o modal não aparecer do nada */
@keyframes aparecerModal {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/*configs projeto sonhario*/
.sonhario .projetoImagem {
    background-color: #D7E4F6;
    box-shadow: 2px 4px 4px -1px #8291A5;
}
.sonhario .projetoDescricao {
    background-color: #8291A5;
    color: var(--CorFundo);
}
.sonhario .projetoDescricao h1 {
    text-shadow: 0.6px 0.6px 0px #D7E4F6;
    border: none;
}
.sonhario .projetoDescricao p {
    color: var(--CorFundo);
}
.sonhario .projetoDescricao button {
    background-color: var(--CorFundo);
    color: var(--CorDestaque);
    border: 3px solid black;
}

/*configs projeto tavern talk*/
.tavernTalk .projetoImagem {
    background:  linear-gradient(#8B8B8B,#E2E1E1,#8B8B8B);
    box-shadow: 2px 4px 5px -1px #8291a5b1;
}
.tavernTalk .projetoDescricao {
    background: linear-gradient(#4B1515, 45%, #17080800);
}
.tavernTalk .projetoDescricao h1 {
    background: linear-gradient(#8B8B8B,#E2E1E1,#8B8B8B);
    background-clip: text;
    color: transparent;
}
.tavernTalk .projetoDescricao p {
    background: linear-gradient(#8B8B8B,#E2E1E1,#8B8B8B);
    background-clip: text;
    color: transparent;
}
.tavernTalk .projetoDescricao button {
    background:  linear-gradient(#8B8B8B,#E2E1E1,#8B8B8B);
    color: #600000;
}

/*configs projeto gap*/
/*configs projeto tavern talk*/
.gap .projetoImagem {
    background:  linear-gradient(#005CA9,#2794CD);
    /* box-shadow: 2px 4px 5px -1px #8291a5b1; */
}
.gap .projetoDescricao {
    background: linear-gradient(#F4F4F4, 45%, var(--CorLetra));
}
.gap .projetoDescricao h1 {
    background: linear-gradient(to right, #005CA9, 70%,#2794CD);
    background-clip: text;
    color: transparent;
}
.gap .projetoDescricao p {
    color: #005CA9;
}
.gap .projetoDescricao button {
    background:  linear-gradient(#005CA9,#2794CD);
    color: var(--CorLetra);
    /* border: 3px solid #F4F4F4; */
}
/*desktop configs*/
@media screen and (min-width: 768px) {

.projetosContainer {
    gap: 0px;
    
}
.projetosContainer section {
    width: 100%;
    height: auto;
    flex-flow: row nowrap;
    border-radius: 0;
}
.projetoImagem {
    width: 50vw;
    border-radius: 0px;
    box-shadow: none;
}

.projetoDescricao {
    width: 50vw;
    border-radius: 0px;
    margin: 0;
}
.projetoDescricao h1 {
    font-size: 3.5em;
    font-weight: 500;
}
.projetoDescricao p {
    font-size: 1.8em;
    font-weight: normal;
    padding-left: 15px;
}
 .projetoDescricao button {
    margin-top: 40px;
    background-color: transparent;
    width: 200px;
    height: 70px;
    font-size: 1.5em;
}
/*configs sonhario desktop*/
.sonhario .projetoImagem{
    box-shadow: none;
}
.sonhario .projetoDescricao button {
    background-color: transparent;
    color: var(--CorFundo);
}
.sonhario .projetoDescricao button:hover {
    background-color: var(--CorFundo);
    color: var(--CorDestaque);
    transition: background-color 0.5s, color 0.5s;
}
/*configs tavernTalk desktop*/
.tavernTalk .projetoImagem {
    box-shadow: none;
}
.tavernTalk .projetoDescricao button {
    background:  radial-gradient(circle at 100%, #8B8B8B,#E2E1E1,#8B8B8B,#E2E1E1,#8B8B8B,#E2E1E1);
    background-clip: text;
    color: transparent;
}
.tavernTalk .projetoDescricao button:hover {
    background:  linear-gradient(#8B8B8B,#E2E1E1,#8B8B8B);
    color: #600000;
    transition:  color 0.5s;
}
/*configs gap desktop*/
.gap .projetoImagem {
    box-shadow: none;
}
.gap .projetoDescricao button {
    background:  linear-gradient(#005CA9,#2794CD);
    background-clip: text;
    color: transparent;
}

.gap .projetoDescricao button:hover {
    background:  linear-gradient(#005CA9,#2794CD);
    color: var(--CorLetra);
    transition: color 0.5s;
}

}