@charset "UTF-8";

.sobreContainer {
    padding: 40px 20px;
    border-top: 1px solid color-mix(in oklab,var(--CorDestaque)75%,transparent);
}

.sobreConteudo {
    max-width: 1400px;
    margin: 0 auto;
}

.sobreConteudo h1 {
    width: fit-content; 
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 500;
    font-family: var(--fonte1);
    font-style: italic;
    border-bottom: 1.5px solid var(--CorDestaque);
}

.sobreTabela {
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
}

.sobreTexto p {
    font-family: var(--fonte0);
    font-size: 1.1em;
    line-height: 1.9;
    letter-spacing: 0.01em;
    margin-bottom: 25px;
    color: var(--CorFundo2);
    text-align: left; 
}

.tabelaHabilidades {
    overflow-x: auto; 
    width: 100%;
}

.sobreConteudo table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    min-height: 250px;
    font-size: 1.25em;
    color: var(--CorFundo2);
    margin-bottom: 20px;
}

.sobreConteudo th, td {
    border: 1px solid var(--CorDestaque);
    padding: 12px;
    text-align: center;  
    box-shadow: 2px 2.5px 3px -1px rgba(255, 255, 255, 0.3);
}

.sobreConteudo th {
    color: var(--CorLetra);
    font-weight: 500;
}


/* --- CONFIGURAÇÕES DESKTOP  --- */
@media screen and (min-width: 992px) {
    
    .sobreTabela {
        flex-flow: row nowrap; 
        justify-content: space-between;
        align-items: flex-start;
        gap: 60px;
    }

    .sobreTexto {
        flex: 1.3;
        padding-right: 0;
    }

    .tabelaHabilidades {
        flex: 1;
        overflow-x: visible;
        top: 40px;
    }

    .sobreConteudo table {
        width: 100%; 
        min-height: 400px;
        font-size: 1.4em;
    }
}