/*Pequenas telas: até 600px;
Celular: de 600px até 768px;
Tablet: 768px até 992px;
Desktop: 992px até 1200px;
Grandes telas: acima de 1200px.
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Khula:wght@300;400;600;700;800&family=Passion+One:wght@400;700;900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --CorFundo: #0F172A;
  --CorFundo2: #D7E4F6;
  --CorDestaque: #16F2D4;
  --CorDestaqueTransparencia: #16f2d530;
  --CorLetra: #F2F5FC;
  --fonte0: "Work Sans", Arial, Helvetica, sans-serif;
  --fonte1: 'Times New Roman', Times, serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--CorFundo);
  color: var(--CorLetra);
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}