@charset "UTF-8";
.resumoContainer {
    padding: 60px 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--CorFundo);
}

 .conteudo {
    /* text-align: center; */
} 

.conteudo h1 {
    /* font-size: clamp(2.25rem,4vw,7.75rem); */
    font-family: var(--fonte1);
    color: var(--CorLetra);
    padding-bottom: 30px;
    word-break: keep-all;
    text-align: justify;
   
    font-size: 2.5em;
    padding-top: 20px;
    padding-left: 10px;

    flex: 0 1 50px;
}

.conteudo article {
    margin-top: 20px;
    border: none;
}
.conteudo > article > p {
    font-family: var(--fonte0);
    font-size: 1em;
    line-height: 5px;
    text-align: justify;
    word-break: break-word;
    line-height: 1.6em;
    display: flex;
    flex-flow: row wrap;
    /* justify-content: flex-start; */
    /* padding-top: 30px; */
    padding-left: 10px;
    margin-bottom: 30px;
}

.conteudo ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    padding-left: 15px;
    margin-bottom: 40px;
}

.conteudo li a {
    text-decoration: none;
    color: var(--CorDestaque);
    font-weight: bold;
    border-radius: 25px;
    padding: 10px;
    background-color: #16f2d530;
    transition: color 0.3s ease;
}

 .linkProjetos {
    text-decoration: none;
    display: flex;
    align-items: center;   /* Centraliza verticalmente ícone e texto */
    justify-content: center;
    /* justify-content: center;
    align-items: center; */
    color: var(--CorDestaque);
    font-weight: bold;
    border-radius: 25px;
    padding: 5px;
    margin-top: 50px;
    /* padding-top: 30px; */
    background-color: var(--CorDestaqueTransparencia);
    transition: color 0.3s ease;
}
.setaBaixo{
    display: inline-flex;
    vertical-align: bottom;
    /* font-size: 2rem !important; */
   
}

/*Desktop*/
@media screen and (min-width: 768px){
    
    .conteudo li a {
        background-color: initial;
    }
    .conteudo li a:hover {
        background-color: var(--CorDestaqueTransparencia);
    }
}


