@charset "UTF-8";
.resumoContainer {
    padding: 60px 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--CorFundo);
}

.conteudo h1 {
    font-family: var(--fonte1);
    color: var(--CorLetra);
    
    word-break: keep-all;
    text-align: justify;
    font-weight: 300;
   
    font-size: 2.5em;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10px;

    flex: 0 1 150px;
}

.conteudo article {
    margin-top: 20px;
    border: none;
}
.conteudo > article > p {
    font-family: var(--fonte0);
    font-size: 1.1em;
    text-align: justify;
    word-break: break-word;
    line-height: 1.6em;
    display: flex;
    flex-flow: row wrap;
    padding-left: 10px;
    margin-bottom: 30px;
}

.conteudo ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
    padding-left: 15px;
    margin-bottom: 40px;
}

.conteudo li a {
    text-decoration: none;
    color: var(--CorDestaque);
    font-weight: bold;
    border-radius: 25px;
    padding: 10px;
    background-color: #16f2d530;
    transition: color 0.3s ease;
}

 .linkProjetos {
    text-decoration: none;
    display: flex;
    align-items: center;  
    justify-content: center;
    text-align: center;
    color: var(--CorDestaque);
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 25px;
    padding: 5px;
    margin-top: 50px;
    background-color: var(--CorDestaqueTransparencia);
    transition: color 0.3s ease;
}
@keyframes flutuar {
  0% { transform: translateY(0); }
  50% { transform: translateY(6px); } /* Desce 6 pixels */
  100% { transform: translateY(0); }
}
.setaBaixo{
    display: inline-flex;
    vertical-align: bottom;
    animation: flutuar 1s ease-in-out infinite;
    /* font-size: 2rem !important; */
   
}

/*Desktop*/
@media screen and (min-width: 768px){
    
 
    .conteudo h1 {
        text-align: center;
        font-size: 3.3em;
        font-weight: 300;
        text-shadow: 2px 2px 0px #3e4a46;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .conteudo ul {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 40px;
    
}
.conteudo > article > p {
    max-width: 80ch;
    text-align: center;
    line-height: 1.2em;
    font-size: 1.2em;
    font-weight: 400;
    color: var(--CorFundo2);
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
    .conteudo li a {
        background-color: initial;
        font-size: 1.2em;
    }
    .conteudo li a:hover {
        background-color: var(--CorDestaqueTransparencia);
    }
    .conteudo .linksSociais {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-left: 15px;
    margin-bottom: 80px;
    margin-top: 0px;
    padding-top: 0px;
}
    .linkProjetos {
        width: max-content;
        font-size: 1.2em;
        margin: 0 auto;
        padding-left: 10px;
        margin-top: 100px;
        background-color: initial;
    }
    .linkProjetos:hover{
        background-color: var(--CorDestaqueTransparencia);
    }
}


